# Common Python ignores
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
env/
venv/
.venv/

# Editor configs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Local config overrides (contains secrets)
**/config.local.json
